Repository MicrosoftDocs/CloudAppSecurityDocs, pull requests merged in 2021-11, with the labels that each got.

#472 Update app-governance-get-started.md
  CloudAppSecurityDocs/app-governance-get-started.md
Labels: Change sent to author, do-not-merge, O365-seccomp/svc

#474 Update troubleshooting-api-connectors-using-error-messages.md by adding unsupported licenses issue of Zendesk.
  CloudAppSecurityDocs/troubleshooting-api-connectors-using-error-messages.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc

#475 Update protect-webex.md by removing failed logins detection.
  CloudAppSecurityDocs/protect-webex.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc

#488 Update app-governance-app-policies-create.md
  CloudAppSecurityDocs/app-governance-app-policies-create.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc

#490 Update app-governance-app-policies-create.md
  CloudAppSecurityDocs/app-governance-app-policies-create.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc, aq-pr-triaged

#480 Update app-governance-visibility-insights-view-apps.md
  CloudAppSecurityDocs/app-governance-visibility-insights-view-apps.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc, aq-pr-triaged

#479 Update app-governance-visibility-insights-get-started.md
  CloudAppSecurityDocs/app-governance-visibility-insights-get-started.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc, aq-pr-triaged

#478 Update app-governance-visibility-insights-overview.md
  CloudAppSecurityDocs/app-governance-visibility-insights-overview.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc, aq-pr-triaged

#477 Update app-governance-get-started.md
  CloudAppSecurityDocs/app-governance-get-started.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc, aq-pr-triaged

#476 Update app-governance-manage-app-governance.md
  CloudAppSecurityDocs/app-governance-manage-app-governance.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc, aq-pr-triaged

#481 Update app-governance-visibility-insights-compliance-posture.md
  CloudAppSecurityDocs/app-governance-visibility-insights-compliance-posture.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc, aq-pr-triaged

#482 Update app-governance-app-policies-overview.md
  CloudAppSecurityDocs/app-governance-app-policies-overview.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc, aq-pr-triaged

#483 Update app-governance-app-policies-get-started.md
  CloudAppSecurityDocs/app-governance-app-policies-get-started.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc, aq-pr-triaged

#485 Update app-governance-detect-remediate-get-started.md
  CloudAppSecurityDocs/app-governance-detect-remediate-get-started.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc, aq-pr-triaged

#486 Update app-governance-anomaly-detection-alerts.md
  CloudAppSecurityDocs/app-governance-anomaly-detection-alerts.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc, aq-pr-triaged

#484 Update app-governance-app-policies-create.md
  CloudAppSecurityDocs/app-governance-app-policies-create.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc, aq-pr-triaged

#493 Fix link typo in mde-govern.md
  CloudAppSecurityDocs/mde-govern.md
Labels: Change sent to author, do-not-merge, cloud-app-security/svc
