Repository MicrosoftDocs/CloudAppSecurityDocs, pull requests merged in 2021-07, with the labels that each got.

#398 Update azip-integration.md by removing a note due to SPO fix for reading files after MCAS labeled them.
  CloudAppSecurityDocs/azip-integration.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, doc-bug

#396 Update connect-slack-to-microsoft-cloud-app-security.md with two notes.
  CloudAppSecurityDocs/connect-slack-to-microsoft-cloud-app-security.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, doc-enhancement

#395 Update proxy-intro-aad.md - make browser names links
  CloudAppSecurityDocs/proxy-intro-aad.md
Labels: Change sent to author, aq-pr-triaged, cloud-app-security/svc, do-not-merge, doc-enhancement

#400 Update troubleshooting-api-connectors-using-error-messages.md with Slack troubleshooting
  CloudAppSecurityDocs/troubleshooting-api-connectors-using-error-messages.md
Labels: Change sent to author, cloud-app-security/svc, do-not-merge

#401 Update file-filters.md with collaborator.domain filter note.
  CloudAppSecurityDocs/file-filters.md
Labels: Change sent to author, cloud-app-security/svc, do-not-merge

#406 Update file-filters.md with collaborators.domain filter description change.
  CloudAppSecurityDocs/file-filters.md
Labels: Change sent to author, aq-pr-triaged, cloud-app-security/svc, do-not-merge

#404 Added files monitoring note.
  CloudAppSecurityDocs/file-filters.md
Labels: Change sent to author, aq-pr-triaged, cloud-app-security/svc, do-not-merge

#411 Update connect-zendesk-to-microsoft-cloud-app-security.md with a note for admin permissions while installing the connector from Cloud App Security portal.
  CloudAppSecurityDocs/connect-zendesk-to-microsoft-cloud-app-security.md
Labels: Change sent to author, cloud-app-security/svc, do-not-merge

#412 Update connect-zendesk-to-microsoft-cloud-app-security.md with change of admin permissions.
  CloudAppSecurityDocs/connect-zendesk-to-microsoft-cloud-app-security.md
Labels: Change sent to author, cloud-app-security/svc, do-not-merge
