Repository MicrosoftDocs/CloudAppSecurityDocs, pull requests merged in 2023-12, with the labels that each got.

#691 Update troubleshooting-proxy-url.md
  CloudAppSecurityDocs/troubleshooting-proxy-url.md
Labels: Change sent to author, do-not-merge, defender-for-cloud-apps/svc, qualifies-for-auto-merge

#683 Update get-started.md
  CloudAppSecurityDocs/get-started.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud-apps/svc, qualifies-for-auto-merge

#686 exchanged mail-settings.png with current view
  CloudAppSecurityDocs/media/mail-settings/email-settings.png
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review
